@media /*(min-width: 769px) and */(max-width: 1024px) {
  body{
        max-width: 1024px;
        margin: 0 auto;
    }

    /* Navigation */
    nav{
      padding: 19px 20px 19px 20px;
    }
    /* Header */
    header h1{
      color: #437BFF;
      padding: 120px 20px 80px 20px;
    }
    
    header div{
      display: block;
    }

    header #language{
      text-align: center;
      padding-top: 0px;
      margin-right: auto;
      padding-bottom: 40px;
      display: grid;
      padding-left: 20px;
      grid-template-columns: auto auto;
      grid-gap: 24px;
      max-width: 312px;
    }

    /* Main */
      /* Serviec */
      main #service{
        text-align: center;
        padding: 120px 20px;
      }

      /* Skill */

      main #skill .wrap_skill .img_skill{
          background: #437BFF;
          background-size: 100%;
          height: 50vw;
      }

      main #skill .wrap_skill .text_skill{
          height: 50vw;
          padding:0px 19.76%;
          display: grid;
          align-content: center;
      }

      main #skill .wrap_skill .text_skill h1{
          margin-bottom: 80px;
      }

      main #skill .wrap_skill .text_skill p{
          font-size: 16px;
          line-height: 2em;
      }

      main #skill .wrap_skill .img_skill{
          background-size: 100%;
      }
      /*
  transform: translateY(-50%);*/

      main #skill .wrap_skill .text_skill h2{
          margin-bottom: 0px;
          font-size: 28px;
      }
      
      main #skill .wrap_skill .text_skill h1{
          margin-bottom: 40px;
          font-size: 28px;
      }

      main #skill .wrap_skill .text_skill p{
          font-size: 12px;
      }
      
      /* Portfolio */
      main #portfolio h1{
        padding: 120px 20px 80px 20px;
      }

      main #portfolio .wrap_portfolio{
        grid-column-gap: 1.692708333333333%;
      }

      
        

    main #portfolio_large .wrap_portfolio{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 40px;
        padding: 0 2.342%;
    }
      
      /* Video */
      main #video{
        padding: 0 20px;
      }

      main #video .video .img_video{
          background-size: cover;
          box-sizing: border-box;
          border: 1px solid white;
          background-size: 100%;
          background-repeat: no-repeat;
          height:21vw;
          transition: 0.75s;
      }

      /* Article */
      main #article{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 56px;
        padding: 0 2.2342%;
      }

      /* Form */
      form{
          padding: 0 2.2342% 120px 2.2342%;
          grid-template-columns: auto auto;
      }

      /* Contact */
      main #contact h1{
          padding: 120px 20px 80px 20px;
      }

      main #contact .wrap_contact{
          display: grid;
          grid-template-columns: 50% 50%;
      }

      
      main #contact .wrap_contact div{
          padding: 120px 20px;
      }

    /* Footer */
    footer h1{
      padding: 120px 135px 80px 135px;
      text-align: center;
    }

    footer .wrap_social{
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 0 135px 120px 135px;
    }

}